.address,
.favAddress {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.favAddress {
    background-color: #ffbb70;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.usps {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usps>span {
    font-size: small;
    font-weight: bold;
}

.checkBtn {
    font-size: small;
    font-weight: bold;
    background-color: transparent;
    border: none;
    display: inline;
    border-bottom: 3px solid black;
    color: brown;
}