.product span {
    font-size: 1.2rem;
}

.productprice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product {
    width: 22rem;
    height: 30rem;
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
}

.product img {
    width: 100%;
    max-height: 80%;
    cursor: pointer;
    transition: 0.5s all;
}

.product img:hover {
    transform: scale(1.04);
}

.product p {
    margin: 0.75rem 0;
}