@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #f00 !important; */
}

html,
body,
.root {
    font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.grid-layout {
    height: 100vh;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 4rem 1fr 3rem;
}

a {
    text-decoration: none;
    color: #efefef;
}

a:hover {
    color: #ffbb00;
}

.header {
    width: 100%;
    padding: 1.5rem 1rem;
    grid-area: header;
    background-color: rgba(10, 10, 10, 0.8);
    color: #efefef;
    display: grid;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 3;
    padding: 1rem;
}

.side-bar {
    flex: 1;
}

.footer {
    grid-area: footer;
    background-color: #203040;
    color: #efefef;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgba(10, 10, 10, 0.8);
}

.products {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: stretch;
}

.product {
    /* border: 1px solid green; */
    width: 22rem;
    height: 30rem;
    display: inline-block;
    margin: 0.5rem;
}

.product img {
    width: 100%;
    max-height: 80%;
    cursor: pointer;
}

.product p {
    margin: 0.75rem 0;
}

button {
    font-family: 'Montserrat';
    padding: 0.25rem 0.75rem;
    background-color: #ffbb00;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #202020;
}

button:hover {
    filter: brightness(110%)
}

button.secondaryBtn {
    background-color: #a0a0a0;
    font-size: 1rem;
    color: #fff;
}

.product span {
    font-size: 1.2rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Filter bar styling */

.filter-bar {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

.filter-bar div {
    display: inline-block;
}

select {
    font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 0 1rem;
}


/* Cart component */

.cart {
    margin: 1rem;
}

.cart-header {
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
}

.cart-card {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.cart-card img {
    width: 5rem;
    margin-right: 2rem;
}

.cart-card p {
    padding-bottom: 1rem;
}

.cart-card span {
    margin-right: 2rem;
    font-size: 1.4rem;
}

.cart-total {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.cart-total span {
    font-size: 1.8rem;
    margin-right: 2rem;
}


/* Customer Details form */

.customer-details {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.customer-details p {
    font-weight: bold;
}

.customer-details label {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.customer-details p.label-hint {
    font-size: 0.8rem;
    color: gray;
    padding-left: 2rem;
}

.customer-details input {
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
    border: 0.1px solid black;
    border-radius: 5px;
}

.customer-details button {
    margin-top: 1rem;
}


/* Product Modal */

.overlay {
    background-color: rgba(100, 100, 100, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.productModal,
.Modal {
    /* display: flex; */
    position: fixed;
    top: 5rem;
    left: 5rem;
    /* align-items: center; */
    border: 0.1rem solid gray;
    padding: 1rem 2rem;
    height: 80vh;
    width: 80vw;
    justify-content: space-around;
    z-index: 999;
    background-color: #fff;
    overflow: auto;
}

.modal-image {
    flex: 1;
    display: grid;
    place-content: center;
}

.modal-image img {
    max-width: 100%;
    max-height: 100%;
}

.modal-desc {
    flex: 1;
    display: grid;
    place-content: center;
}

.modal-desc h3 {
    margin-bottom: 2rem;
}

.btnClose {
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.productModal p {
    margin-bottom: 2rem;
}

.BtnSize {
    background-color: #efefef;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.modalPrice {
    margin-top: 2rem;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.modalPrice span {
    font-size: 2rem;
    margin-right: 4rem;
}


/* Order Modal  */

.orderModal {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.modal-headline {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffbb00;
}

.orderModal .subsection {
    padding: 0.5rem;
    border-bottom: 0.1rem solid gray;
    margin-bottom: 1rem;
}

.orderModal td {
    padding-right: 2rem;
}

.orderModal .total {
    text-align: right;
    padding-right: 2rem;
    font-size: 1.2rem;
}

.orderModal button {
    width: 100%;
    margin-top: 2rem;
}


/* Admin Modal */

.headerBtn {
    padding: none;
    background-color: transparent;
    border: 0.1rem solid #efefef;
    color: #efefef;
    font-size: 1rem;
    outline: none;
}

.headerBtn:hover {
    color: #ffbb00;
    border: 0.1rem solid #ffbb00;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderListTable {
    font-size: 0.8rem;
}

.orderListTable td {
    padding: 0.5rem
}