@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.root {
    font-family: 'Montserrat', sans-serif, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: #efefef;
}

a:hover {
    color: #ffbb00;
}

button {
    font-family: 'Montserrat';
    padding: 0.25rem 0.75rem;
    background-color: #ffbb00;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #202020;
}

button:hover {
    filter: brightness(110%)
}

button.secondaryBtn {
    background-color: #a0a0a0;
    font-size: 1rem;
    color: #fff;
}